.button {
  background: linear-gradient(167.1deg, rgba(124, 83, 255, 0.8) 1.06%, rgba(194, 122, 255, 0.8) 92.98%);
  border: 3.04741px solid rgba(255, 255, 255, 0.21);
  box-shadow: 0px -6.09481px 24.3793px -36.5689px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(152.37px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 26px;
  cursor: pointer;
}