.form {
  margin-top: 157px;
}

.formBlock {
  display: flex;
  justify-content: center;
  margin-top: 28px;
}

.formInput {
  width: 350px;
  padding: 24px 19px;
  border: 1.05px solid #FFFFFF;
  border-radius: 10px;
  background: transparent;
  font-family: 'RS';
  font-style: normal;
  font-weight: 400;
  font-size: 18.9677px;
  line-height: 27px;
  /* identical to box height, or 144% */
  margin-right: 21px;
  outline: none;

  input {
    background: transparent;
    border: none;
    font-family: 'RS';
    font-style: normal;
    font-weight: 400;
    font-size: 18.9677px;
    line-height: 27px;
    color: #FFFFFF;
    outline: none;
  }


  color: #FFFFFF;

  &:last-child {
    margin-right: 0;
  }
}

.formButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px auto 0;
  width: 392px;
  height: 66px;
  span {
    font-size: 26px;
    margin-bottom: 3px;
    font-weight: 800;
    line-height: 32px;
    color: #ffffff;
    text-shadow: 0px 4.2659px 4.2659px rgba(0, 0, 0, 0.25);
  }
}