.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 153px;
}

.headerLogo {
  max-height: 148px;
  max-width: 179px;
  width: 179px;
  margin-right: 20px;
}

.headerLeft {
  display: flex;
  align-items: center;
}

.headerButton {
  cursor: pointer;
  padding: 15px 14px;
  max-height: 47px;
  // background: linear-gradient(180deg, rgba(62, 62, 62, 0.31) 0%, rgba(62, 62, 62, 0.1643) 100%);
  border-radius: 16px;  
  font-family: 'RS';
  font-style: normal;
  font-weight: 800;
  font-size: 16.9704px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1230px) {
  .header {
    flex-direction: column;
    height: auto;
  }
  .headerLeft {
    flex-direction: column;
  }
  .headerButton {
    display: none;
    width: 300px;
    margin-top: 30px;
  }
}

@media screen and (max-width: 768px) {
  
  .headerLogo {
    width: 262px;
    height: 235px;
    max-width: none;
    max-height: none;
    margin-right: 0;
  }
}