.footer {
  margin-top: 83px;
  display: flex;
  justify-content: space-between;
}

.footerData {
  margin-bottom: 80px;
  font-family: 'RS';
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 25px;
  /* or 147% */


  /* White */

  color: #FFFFFF;
  &:last-child {
    margin-top: 0;
  }
}

.footerColumn {
  &:nth-child(2) {
    width: 27%;
  }
}

.footerLogo {
    width: 90%;
    height: 80%;
}

.footerPhone {
  margin-top: 42px;
  font-family: 'RS';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  /* or 147% */

  text-align: right;

  /* White */

  color: #FFFFFF;
}

.footerPhoneItem {
  padding: 45px 0;
  font-family: 'RS';
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 30px;
  /* identical to box height, or 120% */

  text-align: right;

  /* White */

  color: #FFFFFF;
}

@media screen and (max-width: 1100px) {
  .footer {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footerColumn {
    width: 100%;
    order: 2;
    text-align: center;
    &:nth-child(2) {
      order: 1;
    }
    &:nth-child(3) {
      order: 1;
    }
  }
  .footerPhone {
    text-align: center;
    p {
      text-align: center;
    }
  }
}

@media screen and (max-width: 768px) {
  .footerLogo {
    width: 262px;
    height: 235px;
    max-width: none;
    max-height: none;
  }
  .footerColumn {
    width: 100% !important;
    &:first-child {
      margin-top: 15px;
    }
  }
  .footerData {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 0;
    br:last-child {
      display: none;
    }
    &:last-child {
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
  .footer {
    margin-top: 60px;
  }
  .footerPhone {
    margin-top: 0px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 40px;
  }
  .footerPhoneItem {
    padding: 10px 0;
  }
}