body {
  background-color: #000;
  background-image: url("./images/grid.svg");
  background-position: top center;
  background-size: contain;
  background-repeat: repeat;
  width: 100%;
  height: 100%;
}

.mainBlock {
  .container {
    width: 1200px;
  }
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.services {
  margin-top: 63px;
}

.servicesTitle {
  margin-bottom: 17px;
}

.productsTypography {
  margin-top: 100px;
}

.payment {
  margin-top: 100px;
}

.gifts {
  margin-top: 105px;
}

.products {
  .container {
    width: 1130px;
  }
}

.advantages {
  .container {
    width: 1230px;
  }
}

.cases {
  .container {
    width: 1070px;
  }
}

.live {
  .container {
    width: 100%;
  }
}

.form {
  .container {
    width: 1180px;
  }
}

.footer {
  .container {
    width: 1230px;
  }
}
